html {
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1622630998477-20aa696ecb05?q=80&w=1546&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.container {
	background-color: whitesmoke;
	/* color:black; */
	padding: 2rem;
	/* border: 1px solid black; */
	border-radius: 1rem;
	min-height: 60vh;
	width: 60vh;
}

form {
	margin: 2rem 0 1rem 0;
}

form button,
select,
input {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 0.75rem;

}

form input {
	border: 1px solid lightgray;
	font-size: 1rem;
	height: 3rem;
	padding-left: 0.5rem;
}

.dropdown {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;

}

.select-container img {
	max-width: 2.3rem;
}

.select-container {
	display: flex;
	width: 6rem;
	/* background-color: gray; */
	border-radius: 0.5rem;
	border: 1px solid lightgray;
}

.msg {
	margin: 2rem 0 2rem 0;
	font-size: 1rem;
	color: #978787;
}

button {
	height: 40px;
	background-color: #728688;
	border-radius: 0.5rem;
}


button:hover {
	color: lightcyan;
	box-shadow: 3px 3px 5px black;
}

h2 {
	color: #a69191;
	font-family: 'Courier New', Courier, monospace;
}

#toggleId {
	margin-right: 50%;
}

ul li {
	display: flex;
	justify-content: center;
	margin-left: 100%;
}

i:hover {
	color: #8383c3;
}